body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.form-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 400px;
    height: 350px;
    margin: 10px;
}

.form-container h2 {
    margin: 20px 20px 25px 20px;
    font-size: 20px;
    font-weight: 700;
}

.mail-detail, .names-detail{
    margin: 17px;
}

label {
    font-size: 15px;
    display: block;
    opacity: 50%;
    margin-bottom: -15px;
    pointer-events: none;
    transition: all ;
}

label.active {
    font-size: 12px;
    margin-bottom: 0px;
}

 .first-name input[type="text"], .last-name input[type="text"], .mail-detail input[type="email"] {
    width: 90%;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: all 0.3s;
    font-size: 15px;
    font-weight: 550;
}

.first-name input[type="text"]:focus, .last-name input[type="text"]:focus, .mail-detail input[type="email"]:focus {
    padding: 12px;
}

.first-name input[type="text"]:focus + label,
.last-name input[type="text"]:focus + label,
.mail-detail input[type="email"]:focus + label,
.first-name input[type="text"]:not(:placeholder-shown) + label,
.last-name input[type="text"]:not(:placeholder-shown) + label,
.mail-detail input[type="email"]:not(:placeholder-shown) + label {
    font-size: 12px;
}

.names-detail {
    display: flex; 
    flex-direction: row;
    gap: 10px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.checkbox label {
    font-size: 15px;
}

.checkbox input {
    margin-right: 10px;
    margin-top: -4px;
}

button {
    background-color: #ff0055;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 45px;
    font-size: 17px;
    font-weight: 600;
}

button:hover {
    background-color: #e6004c;
}
